* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header_top {
    justify-content: space-between;
    height: 85px;
    background-color: rgb(48, 122, 186);
}

.container {
    max-width: 1170px;
    margin: auto;
    
    align-items: center;
}
.container-flex {
    height: 85px;
    display: flex;
}

.logo {
    height: 30px;
    width: 20%;
}

nav {
    height: 30px;
    width: 80%;
    text-align: center;
}

.lista_header {
    justify-content: center;
}

.lista_header li {
    padding: 5px 20px;
    list-style: none;
    color: white;
    font-size: 20px;
}

.button {
    height: 30px;
    width: 20%;
    text-align: end;
}

a:not(.links) {
    background-color: white;
    border-radius: 30px;
    padding: 13px;
    text-decoration: none;
    color: black;
}


.sfondo {
    background-color: lightgray;
    height: 600px;
}

.img {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#testo_p {
    height: 500px;
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    
}

.titolo {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

#bottone_bianco::before {
    content: "\2193";
    font-weight: bolder;
    font-size: 20px;
    padding-right: 5px;
    margin-bottom: 5px;
}

#bottone_nero {
    background-color: black;
    color: white;
    margin-left: 20px;
}

.descrizioni {
    margin-bottom: 250px;
    margin-top: 250px;
    justify-content: center;
    width: 1170px;
}

.descrizione_t {
    width: 40%;
    height: 300px;
}

.mini_titolo {
    padding: 30px;
    font-size: 40px;
}

.paragrafino {
    color: black;
    padding: 30px;
    margin-bottom: 0;
    text-align: left;
}

.images {
    width: 60%;
    height: 300px;
}
 
#reverse {
    flex-direction: row-reverse;
}

.grigio {
    height: 500px;
}

.centro {
    text-align: center;
    height: 700px;
    width: 1170px;
    margin-top: 200px;
}

#bislungo {
    height: 1300px;
}

.centro h2 {
    margin-bottom: 50px;
    background-image: url("../img/stars.svg");
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.bottone_blue {
    color: white;
    background-color: rgb(48, 122, 186);
}

.bottone_blue::before {
    content: "\2193";
    font-weight: bolder;
    font-size: 20px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.footer_head {
    background-color: darkslategrey;
    height: 400px;
}

.container_foot {
    width: 1170px;
    margin: auto;
    padding-top: 50px;
    
}

.lista_l {
    height: 300px;
    width: 35%;
    flex-direction: column;
    padding: 10px;
}

.centratura, .iconcine {
    color: white;
    padding: 10px;
}

.ico {
    padding-right: 10px;
}

.bandiera {
    max-width: 20px;
}

.span {
    padding-bottom: 10px;
}
.centratura::after {
    content: "\02C5";
}

.titolo_foot, .testo_colorato {
    color: rgb(48, 122, 186);
    font-weight: bolder;
}
.lista {
    background-color: blueviolet;
    width: calc(75%/4);
    border: 5px dashed orange;
    height: 300px;
    flex-direction: column;
    padding: 10px;
}
 
.footer_bottom {
    margin-top: 5px;
    background-color: darkslategrey;
    padding-top: 10px;
}

#footer_desc {
    justify-content: space-between;
    align-items: center;
    border: 5px dashed orange;
}

.loghi {
    width: 50px;
    height: 20px;
    background-color: orange;
    border: 5px dashed red;
}

.btn {
    width: 50px;
    height: 20px;
    background-color: orange;
    border: 5px dashed red;
}



